<%= render 'shared/navbar_index' %>

<div class="banner">
  <div class="banner-content text-center" >
    <h1 >CocktailsIt</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>

</div>


<div class="container text-center">
  <h1>Choose your drink !</h1>
    <div class="d-flex flex-wrap justify-content-between align-content-start mt-5" >
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="card-cocktail">
          <img src='<%= cocktail.image_url %>' alt="">
        <h2><%= cocktail.name %></h2>
        </div>
        <% end %>
    <% end %>
  </div>
</div>

<div class="container"></div>
