<div class="navbar d-flex">
  <div class="d-flex align-items-end">
    <div><%= image_tag 'logo.png', style: 'height:40px;width:auto;' %></div>
    <div><h3>CocktailsIt</h3></div>
  </div>
  <div class="button-turquoise"><%= link_to 'Add a cocktail', new_cocktail_path %></div>
</div>
