.navbar {
  padding: 20px;
  background: transparent;
  position: sticky;
  top: 0px;

  img {
    padding : 0px 7px
  }
  h3 {
    margin: 0;
    padding: 0px 7px;
    color: $ghost-white;
  }
}


.navbar-white {
  background: $sunset;
  transition: 1 ease;
}

