.navbar {
  padding: 20px;
  background: transparent;
  img {
    padding : 0px 7px
  }
  h3 {
    margin: 0;
    padding: 0px 7px;
    color: $ghost-white;
  }


}



.navbar-white {
  padding: 20px;
  background: $sunset;

  img {
    padding : 0px 7px
  }
  h3 {
    margin: 0;
    padding: 0px 7px;
    color: $ghost-white;
  }
}

// @media (max-width: 540px) {


